@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Delius+Unicase&family=Inter:wght@400;500&family=Poppins&display=swap');
h1 {
  text-align: center;
  font-family: poppins;
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
  width: 250px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 20px;
  height: 100vh;
  width: 100%;
}
.fooditem {
  border: 1px solid white;
  border-radius: 20px;
  background: #b0f2b4;
  margin: 20px;
  padding: 20px;
  font-family: poppins;
  font-weight: bold;
  font-size: 20px;
}

li {
  width: 150px;
  font-weight: bold;
}
